# flyctl launch added from .gitignore
**\.env

# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea\shelf
.idea\workspace.xml

# flyctl launch added from .venv\.gitignore
# created by virtualenv automatically
.venv\**\*

# flyctl launch added from .venv\Lib\site-packages\crewai\cli\templates\crew\.gitignore
.venv\Lib\site-packages\crewai\cli\templates\crew\**\.env
.venv\Lib\site-packages\crewai\cli\templates\crew\**\__pycache__

# flyctl launch added from .venv\Lib\site-packages\crewai\cli\templates\pipeline\.gitignore
.venv\Lib\site-packages\crewai\cli\templates\pipeline\**\.env
.venv\Lib\site-packages\crewai\cli\templates\pipeline\**\__pycache__

# flyctl launch added from .venv\Lib\site-packages\crewai\cli\templates\pipeline_router\.gitignore
.venv\Lib\site-packages\crewai\cli\templates\pipeline_router\**\.env
.venv\Lib\site-packages\crewai\cli\templates\pipeline_router\**\__pycache__

# flyctl launch added from .venv\Lib\site-packages\embedchain\deployment\modal.com\.gitignore
.venv\Lib\site-packages\embedchain\deployment\modal.com\**\.env

# flyctl launch added from .venv\Lib\site-packages\embedchain\deployment\render.com\.gitignore
.venv\Lib\site-packages\embedchain\deployment\render.com\**\.env

# flyctl launch added from .venv\Lib\site-packages\litellm\proxy\.gitignore
.venv\Lib\site-packages\litellm\proxy\**\.env
.venv\Lib\site-packages\litellm\proxy\**\secrets.toml
fly.toml
